DataBase/prue.json
[
    {
        "id": "1aa653f663c8b251",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "inject",
        "type": "inject",
        "z": "1aa653f663c8b251",
        "name": "Generar Datos",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "function"
            ]
        ]
    },
    {
        "id": "function",
        "type": "function",
        "z": "1aa653f663c8b251",
        "name": "Generar Datos y Etiquetas",
        "func": "var data1 = [];\nvar labels1 = [];\nvar data2 = [];\nvar labels2 = [];\n\ndata1.push(Math.floor(Math.random() * 100));\nlabels1.push(\"Label \");\ndata2.push(Math.floor(Math.random() * 100));\nlabels2.push(\"Label 2\");\nglobal.set(\"chartData\", {\n    chart1: {labels: labels1, data: data1},\n    chart2: {labels: labels2, data: data2}\n});\n/*msg.payload = {\n    chart: { labels: labels1, data: data1 },\n    chart2: { labels: labels2, data: data2 }\n};*/\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 300,
        "wires": [
            [
                "http-response"
            ]
        ]
    },
    {
        "id": "http-response",
        "type": "http response",
        "z": "1aa653f663c8b251",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "http-in",
        "type": "http in",
        "z": "1aa653f663c8b251",
        "name": "",
        "url": "/getData",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "function"
            ]
        ]
    },
    {
        "id": "92a1af2b64f07fd2",
        "type": "function",
        "z": "1aa653f663c8b251",
        "name": "Enviar datos humedad",
        "func": "var charData = global.get(\"chartData\");\nconst FechaAct = new Date;\nvar anio = FechaAct.getFullYear();\nvar mes = FechaAct.getMonth() + 1;\nvar dia = FechaAct.getDate();\nvar hora = FechaAct.getHours();\nvar min = FechaAct.getMinutes();\nvar sec = FechaAct.getSeconds();\n\nvar fecha = anio + \"-\" + mes + \"-\" + dia + \" \" + hora + \":\" + min + \":\" + sec;\nvar ingdato = \"INSERT INTO sensoressuelo VALUES (null,\" + msg.chartData.chart1 + \",'\" + fecha + \"',1)\";\nvar newmsg = { topic: ingdato };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 460,
        "wires": [
            [
                "c5f6f0dfc4ef3459"
            ]
        ]
    },
    {
        "id": "5ff5cc11a1656128",
        "type": "http in",
        "z": "1aa653f663c8b251",
        "name": "",
        "url": "/getChart1Data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "92a1af2b64f07fd2"
            ]
        ]
    },
    {
        "id": "c5f6f0dfc4ef3459",
        "type": "http response",
        "z": "1aa653f663c8b251",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 440,
        "wires": []
    }
]